@tailwind base;
@tailwind components;
@tailwind utilities;

/* 360 x 640 resonsive*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-family: "Roboto", sans-serif;
}

.nav-active {
  position: relative;
  color: white;
}

.nav-active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: white;
}
.index_terminal__teubZ {
  background-color: black;
}
#terminalEditor {
  font-size: 14px;
}

#terminalEditor span {
  white-space: pre-wrap;
}

/* styles/globals.css */
.button {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  color: #fff;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
}

.button:hover {
  background-color: #3ccf91;
  color: #fff;
}

.button:active {
  transform: scale(0.95);
}

.button--bubble {
  position: relative;
  z-index: 2;
  color: white;
  background: none;
}

.button--bubble:hover {
  background: none;
}

.button--bubble:hover + .button--bubble__effect-container .circle {
  background: #3ccf91;
}

.button--bubble:hover + .button--bubble__effect-container .button {
  background: #3ccf91;
}

.button--bubble:active + .button--bubble__effect-container {
  transform: scale(0.95);
}

.button--bubble__container {
  position: relative;
  display: inline-block;
}

.effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  transform: translateY(-50%);
  background: #222;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #222;
  transition: background 0.1s ease-out;
}

.circle.top-left {
  top: 40%;
  left: 27%;
}

.circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.gradient-text {
  background-image: linear-gradient(135deg, #80ffea 0%, #8aff80 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* home background */
.chess-bg {
  width: 100%;
  height: 100%;
  
  background: #000000;
  --gap: 9em;
  --line: 0.7px;
  --color: rgba(255, 255, 255, 0.20);

  background-image: linear-gradient(
      -90deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    ),
    linear-gradient(
      0deg,
      transparent calc(var(--gap) - var(--line)),
      var(--color) calc(var(--gap) - var(--line) + 1px),
      var(--color) var(--gap)
    );
    
  /* Use calc to position the center of the grid */
  background-position: center;
  
  /* Keep the grid responsive */
  background-size: var(--gap) var(--gap);
}

.chess-bg {
  width: 100%;
  height: 100%;

  background: #000000;
  --gap: 250px;
  --line: 0.7px;
  --color: rgba(255, 255, 255, 0.20);

  background-image: linear-gradient(
      -90deg, 
      transparent calc(var(--gap) - var(--line)), 
      var(--color) calc(var(--gap) - var(--line) + 1px), 
      var(--color) var(--gap)
  );
  
  /* Position the grid centrally */
  background-position: center;
  
  /* Make the vertical lines responsive */
  background-size: var(--gap) var(--gap);
}


@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-spin-reverse-slow {
  animation: spin-reverse-slow 25s linear infinite;
}
