@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
    font-family: "Roboto", sans-serif;
}

.nav-active {
    position: relative;
    color: white;
}

.nav-active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: white;
}
.index_terminal__teubZ{
    background-color: black;
    
}
#terminalEditor{
    font-size: 14px;
    
}

#terminalEditor span{
    white-space: pre-wrap;
}

/* styles/globals.css */
.button {
    -webkit-font-smoothing: antialiased;
    background-color: #222;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-decoration: none;
    user-select: none;
    letter-spacing: 1px;
    color: white;
    padding: 20px 40px;
    text-transform: uppercase;
    transition: all 0.1s ease-out;
  }
  
  .button:hover {
    background-color: #3CCF91;
    color: #fff;
  }
  
  .button:active {
    transform: scale(0.95);
  }
  
  .button--bubble {
    position: relative;
    z-index: 2;
    color: white;
    background: none;
  }
  
  .button--bubble:hover {
    background: none;
  }
  
  .button--bubble:hover + .button--bubble__effect-container .circle {
    background: #3CCF91;
  }
  
  .button--bubble:hover + .button--bubble__effect-container .button {
    background: #3CCF91;
  }
  
  .button--bubble:active + .button--bubble__effect-container {
    transform: scale(0.95);
  }
  
  .button--bubble__container {
    position: relative;
    display: inline-block;
  }
  
  .effect-button {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 25%;
    z-index: 1;
    transform: translateY(-50%);
    background: #222;
    transition: background 0.1s ease-out;
  }
  
  .button--bubble__effect-container {
    position: absolute;
    display: block;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    filter: url("#goo");
    transition: all 0.1s ease-out;
    pointer-events: none;
  }
  
  .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background: #222;
    transition: background 0.1s ease-out;
  }
  
  .circle.top-left {
    top: 40%;
    left: 27%;
  }
  
  .circle.bottom-right {
    bottom: 40%;
    right: 27%;
  }
  
  .goo {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
  }
  